* {
    margin: 0px;
    padding: 0px;
    font-family: 'Google-Sans', 'Open sans', sans-serif, Arial;
}

body {
    font-family: 'Google-Sans';
    color: #383838;
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

/* Custom font face */
@font-face { 
    font-family: 'Google-Sans';
    src: url('../assets/fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

@font-face { 
    font-family: 'Google-Sans';
    src: url('../assets/fonts/GoogleSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal; 
}

@font-face { 
    font-family: 'Google-Sans';
    src: url('../assets/fonts/GoogleSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic; 
}

@font-face { 
    font-family: 'Google-Sans';
    src: url('../assets/fonts/GoogleSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal; 
}

@font-face { 
    font-family: 'Google-Sans';
    src: url('../assets/fonts/GoogleSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic; 
}

/* Style for Banner */
.banner {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../assets/hero-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner h1 #gradient {
    background: linear-gradient(90deg, 
        #4EA865 25%,   /* 25% for green */
        #FBC10E 50%,   /* 50% for yellow */
        #EB483B 75%,   /* 75% for red */
        #498CF6 100%); /* 100% for blue */
    background-clip: text;
    -webkit-background-clip: text;
    font-family: "Google-Sans";
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-weight: bolder;
    line-height: normal;
}

.banner h1 {
    color: #383838;
    font-size: 64px;
    font-weight: bold;
    display: flex;
    font-family: "Google-Sans";
    width: 982px;
    height: 81px;
    justify-content: center;
    align-items: center;
}

.banner p {
    font-size: 20px;
    padding-top: 12px;
}

.banner button {
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #498CF6;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.35s;
    margin-top: 15px;
}

.banner button:hover {
    background-color: #ffffff;
}

/* Style for section one which covers the about us description and team description */

/* Section-1 container */
.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.section-1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-radius: 20px;
    background-color: rgba(73, 140, 246, 0.1);
}

/* About us container */
.about-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.about-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
}

.about-left img {
    width: 100%;
    height: auto;
}

.about-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%; 
}

.about-right h2 {
    width: 100%; 
    padding-bottom: 20px;
    font-size: 42px;
    font-weight: bold;
}

.about-right p {
    width: 100%; 
    font-size: 18px;
}

.about-right button {
    padding: 10px 15px;
    border: 0.8px solid #498CF6;
    color: #498CF6;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    transition: background-color, color, 0.15s;
    margin-top: 15px;
}

.about-right button:hover {
    background-color: #ffffff;
}

/* Style for team container */
.team {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.team-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.team-left h2 {
    width: 100%;
    font-size: 42px;
    font-weight: 700;
    text-align: right;
}

.team-left p {
    font-size: 18px;
    width: 100%;
    text-align: right;
}

.team-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.team-right img {
    width: 100%;
    height: auto;
}

.partners {
    display: flex;
    height: auto; /* Changed to auto for dynamic content */
    min-height: 65vh; /* Ensures a minimum height */
    background-color: #4285F4;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0px 0;
    padding: 20px 0; /* Added padding for spacing */
}

.partners h1 {
    font-size: 44px;
    font-weight: 700;
}

.gallery {
    display: flex;
    height: auto; /* Changed to auto for dynamic content */
    min-height: 100vh; /* Ensures a minimum height */
    background-color: #F4B400;
    justify-content: center;
    align-items: center;
    color: #ffffff; 
    margin: 0px 0;
    padding: 20px 0; /* Added padding for spacing */
}

.gallery h1 {
    font-size: 44px;
    font-weight: 700;
}

.wtsup {
    display: flex;
    height: auto; /* Changed to auto for dynamic content */
    min-height: 100vh; /* Ensures a minimum height */
    background-color: #DB4437;
    justify-content: center;
    align-items: center;
    color: #ffffff; 
    margin: 0px 0;
    padding: 20px 0; /* Added padding for spacing */
}

.cta {
    display: flex;
    height: auto; /* Changed to auto for dynamic content */
    min-height: 70vh; /* Ensures a minimum height */
    background-color: #0F9D58;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0px 0;
    padding: 20px 0; /* Added padding for spacing */
}

.cta h1 {
    font-size: 44px;
    font-weight: 700;
}

.story {
    object-fit: cover;
    height: fit-content;
}
