* {
    margin: 0px;
    padding: 0px;
    font-family: 'Google-Sans','Open sans', sans-serif, Arial;
}

body {
    font-family: 'Google-Sans'; /* Custom font with fallbacks */
    color: #383838; /* Set default text color */
    font-weight: 500;
}



/* Custom font face */
@font-face { 
    font-family: 'Google-Sans';
    src: url('../assets/fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

@font-face { 
    font-family: 'Google-Sans';
    src: url('../assets/fonts/GoogleSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal; 
}

@font-face { 
    font-family: 'Google-Sans';
    src: url('../assets/fonts/GoogleSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic; 
}

@font-face { 
    font-family: 'Google-Sans';
    src: url('../assets/fonts/GoogleSans-Medium.ttf') format('truetype');
    font-weight: 500; /* or medium */
    font-style: normal; 
}

@font-face { 
    font-family: 'Google-Sans';
    src: url('../assets/fonts/GoogleSans-MediumItalic.ttf') format('truetype');
    font-weight: 500; /* or medium */
    font-style: italic; 
}



/*Style for Banner*/

.banner {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../assets/hero-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner h1 #gradient {
    background: linear-gradient(90deg, 
        #4EA865 25%,   /* 25% for green */
        #FBC10E 50%,   /* 50% for yellow */
        #EB483B 75%,   /* 75% for red */
        #498CF6 100%); /* 100% for blue */
    background-clip: text;
    -webkit-background-clip: text;
    font-family: "Google-Sans";
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;

}
.banner h1 {
    color: #383838;
    font-size: 64px;
    font-weight: bold;
    display: flex;
    font-family: "Google-Sans";
    width: 982px;
    height: 81px;
    justify-content: center;
    align-items: center;
}

.banner p {
    font-size: 20px;
}

.banner button {
    /* padding: 15px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-width: 2px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    ;
    color: #498CF6;
    cursor: pointer;
    font-weight: 700;
    transition: background-color, 0.35s;
    margin-top: 15px;
}

.banner button:hover {
    background-color: #ffffff;
}



/* Style for section one which covers the about us description and team description*/

/*Section-1 container*/
.section-1 {
    display: flex;
    height: 120vh;
    align-items: center;
    justify-content: center;
}

.section-1-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 90%;
    border-radius: 50px;
    background-color: rgba(73, 140, 246, 0.1);
    ;
}

/*About us container*/
.about-content {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.about-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.about-left img {
    width: 557px;
    height: auto;

}



.about-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.about-right h2 {
    width: 494px;
    padding-bottom: 20px;
    font-size: 42px;
    font-weight: 'bold';

}

.about-right p {
    width: 494px;
    font-size: 18px;
}

.about-right button {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 2px;
    border: 0.8px solid #498CF6;
    color: #498CF6;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    transition: background-color, color, 0.15s;
    margin-top: 15px;
}

.about-right button:hover {
    background-color: #ffffff;
}

/*Style for team container*/
.team {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.team-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;

}

.team-left h2 {
    width: 600px;
    font-size: 42px;
    font-weight: 700;
    text-align: right;
}

.team-left p {
    font-size: 18px;
    width: 494px;
    text-align: right;
}

.team-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.team-right img {
    width: 557px;
    height: auto;

}

/*Partners*/
.partners {
    display: flex;
    height: 65vh;
    background-color: #ffffff;
    justify-content: center;
}

.partners h1{
    font-size: 44px;
    font-weight: 700;
}


.gallery {
    display: flex;
    height: 100vh;
    background-color:  #ffffff;
    justify-content: center;
}

.gallery h1{
    font-size: 44px;
    font-weight: 700;
}

.news {
    display: flex;
    height: 100vh;
    background-color:  #ffffff;
    justify-content: center;
}

.cta {
    display: flex;
    height: 70vh;
    background-color:  #ffffff;
    justify-content: center;
}

.story{
    object-fit: cover;
    height: fit-content;
}

