*{
    margin: 0;
    padding: 0;

}

.news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #0F9D58;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
    background-color: aqua;
}